<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jack.androidbase">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_PROFILE"/>
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_SMS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.UIMainActivity" />
        <activity android:name=".activity.IntentMainActivity" />
        <activity android:name=".activity.ServicesMainActivity" />
        <activity android:name=".activity.IntentTransferDataActivity" />
        <activity android:name=".activity.UINotiDetailActivity" />
        <activity android:name=".activity.UINotiActivity" />
        <activity android:name=".activity.UIDialogActivity" />
        <activity android:name=".activity.UIProgressActivity" />
        <activity android:name=".activity.UIGridLayoutActivity" />
        <activity android:name=".activity.UITableLayoutActivity" />
        <activity
            android:name=".activity.UIUserLoginActivity"
            android:label="@string/title_activity_uiuser_login" />
        <activity android:name=".activity.UIUserRegActivity" />
        <activity android:name=".activity.UIUserCenterActivity" />
        <activity android:name=".activity.UINineDrawActivity" />
        <activity android:name=".activity.UIBasicWidgetActivity" />
        <activity android:name=".activity.UIBaseListViewActivity" />
        <activity android:name=".activity.UIBaseGridViewActivity" />
        <activity android:name=".activity.UIBaseListViewCustomActivity" />
        <activity android:name=".activity.UISpinnerActivity" />
        <activity android:name=".activity.UIFragment1Activity" />
        <activity android:name=".activity.UIFragment2Activity" />
        <activity android:name=".activity.UIEditTextWatchActivity" />
        <activity android:name=".activity.MediaMainActivity" />
        <activity android:name=".activity.UIRecyclerView1Activity" />
        <activity android:name=".activity.UIRecyclerView2Activity" />
        <activity android:name=".activity.MainOtherActivity"/>

        <service android:name=".tools.ServiceDemo">
            <intent-filter>
                <action android:name="com.jack.androidbase.tools.SERVICE_DEMO" />
            </intent-filter>
        </service>
        <service
            android:name=".tools.ServiceDemo2"
            android:exported="false">
            <intent-filter>
                <action android:name="com.jack.androidbase.tools.SERVICE_DEMO2" />
            </intent-filter>
        </service>

        <provider
            android:authorities="com.jack.androidbase.providers.myprovider"
            android:name="com.jack.androidbase.adapter.NameContentProvider"
            android:exported="true"/>
    </application>





</manifest>